body {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
    padding: 7%;
    box-sizing: border-box;
}

.container {
    box-shadow: 0 0 10px white;
    background-color: white;
    padding-top: 1.5rem;

}

.row {
    display: flex;
}

.content {
    flex: 1 1 65%;
}

.service-img {
    flex: 1 1 35%;
    padding: 2rem;
    position: relative;
}

.service-img img {
    width: 50%;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0 1.5rem 1.5rem;

}

h1 span {
    color: white;
    text-shadow: 0 0 3px black;
}

.content {
    margin-left: 1.5rem;
}

h2 {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2.5rem;
}

p {
    line-height: 1.5rem;
}